.header {
    border-bottom: 1px solid #008B8B;
    font-size: 20px;
}
.navbar-light {
    background-color: #33CCCC;
}
body {
    background-color: #3399FF;
}
.card > img {
    display: block;
    max-width: 100%;
}
.content {
    margin-top: 50px;
    padding: 30px;
    font-size: 20px;
}
.card {
    margin-top: 10px;
}
.footer {
    border-top: 1px solid #008B8B;
    font-size: 20px;
}